.footer-container{
    background-color: white;
    height: 380px;
    border: solid 5px #201f17;
}

.footer-content-right{
    width: 400px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.footer-content-left{
    width: 400px;
}
.tkg-footer {
    height: 415px;
    margin-top: 47px;
}