<div class="footer-container flex mt-8">
    <div class="footer-content flex justify-content-between justify-content-center align-items-center w-full">
        <div class="footer-content-left flex flex-row gap-4 justify-content-center">
            <div class="footer-content-left-links font-manga text-2xl">
                <a href="https://www.tiktok.com/@abyssalcommunity/video/7367006071333948705" target="_blank" class="no-underline">
                    <img src="../../medias/tiktok.png" alt="">
                </a>
            </div>
            <div class="footer-content-left-links font-manga text-2xl">
                <a href="https://www.youtube.com/channel/UC9J6J9Q1Q1J9J9J9J9J9J9J9" target="_blank" class="no-underline">
                    <img src="../../medias/twitter.png" alt="">
                </a>
            </div>
            <div class="footer-content-left-links font-manga text-2xl">
                <a href="https://www.twitch.tv/abyssaltkg" target="_blank" class="no-underline">
                    <img src="../../medias/twitch.png" alt="">
                </a>
            </div>
        </div>
        <div class="logo-footer flex flex-column justify-content-center align-items-center">
            <img src="../../medias/tokyo-ghoul-logo.png" alt="">
            <div class="footer-content-right-text font-manga text-2xl">Site non-officiel du serveur Abyssal TKG RP © 2024 Abyssal</div>
        </div>
        <div class="footer-content-right">
            <img src="../../medias/tkg-footer.png" class="tkg-footer" alt="">
        </div>
    </div>
</div>