<div class="lore-and-guide-page flex flex-column justify-content-center align-items-center gap-5">
    <div class="main-title font-manga font-red-bold mt-4 text-3xl"> LORE / HISTOIRE</div>
    <div class="japan-trad-title text-3xl font-manga">伝承 / 歴史</div>
    <div class="content font-manga line-height-4 text-xl">
        "Dans les années 1900, une personne X, jusqu'a la alors inconnue, a créé une organisation de goules qui a pris le contrôle 
        de tous les arrondissements de Tokyo en plaçant à sa tête les goules les plus puissantes et influentes de chaque 
        arrondissement respective à sa botte. Cette organisation maintenait ainsi un certain équilibre dans le monde des goules 
        dans l'ombre, agissant tel une entité supérieure. Toutes les goules étaient conscientes de l'existence de cette organisation, 
        bien que celle-ci ne soit pas physiquement présente en permanence. Regroupant les goules les plus influentes de chaque arrondissement, 
        cette organisation était en mesure de maintenir un certain équilibre et une structure hiérarchique à l'échelle nationale parmi les ghouls. 
        Cependant, après de nombreuses années de prospérité, c'est dans les années 2000 que l'organisation implosa sans que personne, en dehors des têtes 
        de cette organisation, ne connaisse les raisons précises de cet effondrement. Cela a provoqué une succession d'événements sans précédent qui ont chamboulé 
        l'équilibre des arrondissements de Tokyo. Plus aucune menace venant de cette organisation ne pesait sur les goules, créant ainsi une situation instable 
        dans les 23 arrondissements de Tokyo car de nombreux groupes de goules ont commencé à émerger dans tous les arrondissements, voulant se faire une place 
        et reprendre en mains le monopole. Le CCG a donc lancé une campagne de recrutement intensive à l'échelle nationale dans les arrondissements les plus sensibles."
    </div>
    <div class="main-title font-manga font-red-bold mt-4 text-3xl"> Précision Lore CCG </div>
    <div class="content font-manga line-height-4 text-xl">
        Le Centre de Contrôle des Goules (CCG) est une organisation gouvernementale japonaise chargée de traquer et d'éliminer les goules, 
        des créatures humanoïdes qui se nourrissent de chair humaine. Fondé sur les contributions de plusieurs clans influents, le CCG est devenu une institution centrale 
        dans la lutte contre les goules, grâce à une alliance complexe de familles. Voici les clans principaux qui ont contribué à la création et à la stabilité du CCG
</div>