.discord-login {
    background-color: #7A0014;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.discord-logout {
    display: flex;
    align-items: center;
    background-color: #7A0014;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
