<div class="lore-and-guide-page flex flex-column justify-content-center align-items-center gap-2">
    <div class="main-title font-manga font-red-bold mt-4 text-3xl"> GUIDE</div>
    <div class="content font-manga font-red-bold content flex justify-content-center text-xl">Voici une page qui est faite pour vous aidez au maximum pour rediger votre candidature, 
        réussir votre entretien. Ainsi qu'un guide des commandes inGame qui vous sera utile</div>
    <div class="main-title font-manga font-red-bold mt-4 text-3xl"> Pour la partie candidature écrite :</div>
    <div class="content font-manga line-height-4 text-xl">
        En ce qui concerne <strong>l'Histoire rp</strong> et votre<strong> Projet RP</strong>, le plus important, c'est d'essayer d'être le plus créatif possible en restant dans la 
        limite du raisonnable et réaliste. Pour les candidatures, eviter toutes histoires de vengeance, de gain de puissance ou de detruire le CCG etc, ce ne sont pas des projets innovants 
        et ce sont des projets qui n'apportent rien au RP. Soyant innovant, créer des projets qui vont favoriser le RP et impacter/impliquer d'autre personnes. 
        Ayez des projets qui vont favoriser le RP et non le détruire, des projets à court/moyen et long terme. Essayer aussi le plus possible de passer par des canva et autres sites qui permet
        une bonne présentation pour vos candidatures, cela rendra votre candidature plus agréable à lire pour les douaniers. Une bonne présentation sera forcément un plus pour votre candidature.
        Pour <strong> le Caractere RP</strong> de votre personnage. Cette partie reste la plus simple,mais attention quand même. Il suffit de décrire des traits de caractères de votre personnage
        éviter seulement les listes, décrivait en quelques mots avec une phrase bien construite vos traits de caractères. Ne soyez pas contradictoire dans vos traits de caractères, 
        cela peut être mal vu et incohérent par les douaniers.
    </div>
    <div class="main-title font-manga font-red-bold mt-4 text-3xl">Partie Candidature Orale :</div>
        <div class="content font-manga line-height-4 text-xl">
            La partie orale se déroule avec un douanier où il va vous poser des questions sur le règlement du serveur et les termes RP du serveur et du RP en général (réviser bien le règlement, et surtout si vous etes CCG, apprenez bien les règles, clans fondateurs etc, vous pouvez regarder sur la page réglement du site). 
            Il pourrait aussi vous mettre dans des exemples de situations rp, le plus important, c'est de ne pas stresser et de répondre calmement la chose la plus logique à laquelle vous pensez, il n'y a pas de piege. 
            Par la suite, il vous demandera sûrement de décrire votre histoire et projet rp, faite le en quelques mots, surtout ne pas juste lire votre histoire rp et vos projets soyez le plus naturel possible, sinon ca se verra et signifiera que vous ne connaissez meme pas votre propre histoire et projet RP.
    </div>
    <div class="guide-commandes font-manga font-red-bold text-3xl my-4"> Les touches et commandes importantes à connaitre :</div>
    <div class="font-manga text-xl"> <strong>F1</strong>  = premère personne / troisième personne ( change la vue )</div>
    <div class="font-manga text-xl"> <strong>F2</strong> = permet d'accéder à la boutique ( masques , rerolls , vetements )</div>
    <div class="font-manga text-xl"> <strong>F4</strong> = ouvre le menu pour accéder à l'inventaire, aux parametres , wiki etc</div>
    <div class="font-manga text-xl"> <strong>F6</strong> = permet de changer de personnage</div>
    <div class="font-manga text-xl"> <strong>F7 et T</strong> = permet d'ouvrir  le menu d'émotes et la roue d'émotes</div>
    <div class="font-manga text-xl"> <strong>F9</strong> = permet de passer en mode cinématique</div>
    <div class="font-manga text-xl"> <strong>J</strong> = permet d'ouvrir le menu d'interations ( se présenter, porter la personne, présenter sa carte d'identité )</div>
    <div class="font-manga text-xl"> <strong>H</strong> = permet de changer la facon de parler ( Hurler, parler, chuchotter )</div>
    <div class="font-manga text-xl"> <strong>B</strong> = permet de zoomer</div>
    <div class="font-manga text-xl"> <strong>N</strong> = permet d'afficher le menu des musiques</div>
    <div class="font-manga text-xl"> <strong>Verr MAJ</strong> = Verouille la caméra et permet de faire des rotations de caméra sans bouger le personnage</div>
    <div class="font-manga text-xl"> <strong>/me</strong> = permet d'exprimer une emotion, une action ( exemple : /me prends la tasse de café ) </div>
    <div class="font-manga text-xl"> <strong>/ccg</strong> = permet d'écrire dans le chat uniquement réservé aux CCG</div>
    <div class="font-manga text-xl"> <strong>/1024</strong> = permet de commencer un 1024 en CCG</div>
    <div class="font-manga text-xl"> <strong>/10200</strong> = permet de commencer un 10200 en CCG</div>
    <div class="font-manga text-xl"> <strong>/ad</strong>= permet de faire une annonce a tout le serveur ( exemple : /ad *NA* Le restaurant Yume ouvre ses portent, venez vite ! )</div>
    <div class="font-manga text-xl"> <strong>/roll</strong> = Pour générer un roll aléatoire entre 1 et 100</div>
    <div class="font-manga text-xl"> <strong>/dropmoney</strong> = donner de l'argent au sol</div>
    <div class="font-manga text-xl"> <strong>/tpe</strong> = pour créer/faire apparaitre un TPE afin de facturer et effectuer des paiements par carte à d'autres joueurs</div>
    <div class="font-manga text-xl"> <strong>/tpepr</strong>o = pour créer/faire apparaitre un TPE afin de facturer et effectuer des paiements par carte à d'autres joueurs POUR UNE ENTREPRISE ( il faut donc etre dans une entreprise )</div>
    <div class="font-manga text-xl"> <strong>/buildkit</strong> = permet pour les CUISINIERS de faire apparaitre une boite qui permet de gérer tout ce qui est en lien avec la cuisine</div>
    <div class="font-manga text-xl"> Pour les touches de combat, aller dans F4 pour les configurer vous meme ( ATTENTION aux touches qui sont assignées 2 fois )</div>
</div>


