<div class="lore-and-guide-page flex flex-column justify-content-center align-items-center gap-5">
    <div class="main-title font-manga font-red-bold mt-4 text-3xl"> GUIDE</div>
    <div class="content font-manga font-red-bold content flex justify-content-center">Voici une page qui est faite pour vous aidez au maximum pour rediger votre candidature, 
        réussir votre entretien. Ainsi qu'un guide des commandes inGame qui vous sera utile</div>
    <div class="main-title font-manga font-red-bold mt-4 text-3xl"> Pour la partie candidature écrite :</div>
    <div class="content font-manga line-height-4">
        En ce qui concerne <strong>l'Histoire rp</strong> et votre<strong> Projet RP</strong>, le plus important, c'est d'essayer d'être le plus créatif possible en restant dans la limite du raisonnable et réaliste, 
        Pour les candidatures, eviter toutes histoires de vengeance, de gain de puissance ou de detruire le CCG etc, ce ne sont pas des projets innovants et ce sont des projets qui n'apportent rien au RP. Soyant innovant, créer des projets qui vont favoriser le RP et impacter/impliquer d'autre personnes. Ayez des projets qui vont favoriser le RP et non le détruire, des projets à court/moyen et long terme.
        Essayer aussi le plus possible de passer par des canva et autres sites qui permet une bonne présentation pour vos candidatures, cela rendra votre candidature plus agréable à lire pour les douaniers. Une bonne présentation sera forcément un plus pour votre candidature.
        Pour <strong> le Caractere RP</strong> de votre personnage. Cette partie reste la plus simple, il suffit de décrire des traits de caractères de votre personnage éviter seulement les listes, décrivait en quelques mots avec une phrase bien construite vos traits de caractères. Ne soyez pas contradictoire dans vos traits de caractères, cela peut être mal vu et incohérent par les douaniers.

    </div>
    <div class="main-title font-manga font-red-bold mt-4 text-3xl">Partie Candidature Orale :</div>
        <div class="content font-manga line-height-4">
            La partie orale se déroule avec un douanier où il va vous poser des questions sur le règlement du serveur et les termes RP du serveur et du RP en général (réviser bien le règlement, et surtout si vous etes CCG, apprenez bien les règles, clans fondateurs etc, vous pouvez regarder sur la page réglement du site). 
            Il pourrait aussi vous mettre dans des exemples de situations rp, le plus important, c'est de ne pas stresser et de répondre calmement la chose la plus logique à laquelle vous pensez, il n'y a pas de piege. 
            Par la suite, il vous demandera sûrement de décrire votre histoire et projet rp, faite le en quelques mots, surtout ne pas juste lire votre histoire rp et vos projets soyez le plus naturel possible, sinon ca se verra et voudra dire que vous ne connaissez meme pas votre propre histoire et projet RP.
    </div>
</div>


