<div class="nav-bar flex justify-content-center mt-3">
    <div class="nav-bar-items flex justify-content-between gap-4">
        <a href="" class="nav-bar-item no-underline px-8 py-2"> LORE</a>
        <a href="" class="nav-bar-item no-underline px-8 py-2"> PERSONNAGES</a>
        <a href="" class="nav-bar-item no-underline px-8 py-2"> CLIPS</a>
        <a href="" class="nav-bar-item no-underline px-8 py-2"> GALERIE</a>
        <a href="" class="nav-bar-item no-underline px-8 py-2"> CONTACT</a>
    </div>
</div>