<div class="nav-bar flex justify-content-center my-3">
    <div class="nav-bar-items flex justify-content-between gap-4">
        <a routerLink="/" class="nav-bar-item no-underline px-8 py-2 font-manga"> ACCUEIL</a>
        <a routerLink="/lore-and-guide" class="nav-bar-item no-underline px-7 pt-2 pb-3 font-manga"> LORE/GUIDE</a>
        <a routerLink="/profils-rp" class="nav-bar-item no-underline px-7 pt-2 pb-3 font-manga"> PERSONNAGES</a>
        <a routerLink="/entreprises" class="nav-bar-item no-underline px-7 pt-2 pb-3 font-manga"> ENTREPRISES</a>
        <a routerLink="/clips" class="nav-bar-item no-underline px-7 pt-2 pb-3 font-manga"> CLIPS</a>
        <a routerLink="/galerie" class="nav-bar-item no-underline px-7 pt-2 pb-3 font-manga"> GALERIE</a>
    </div>
</div>
<router-outlet></router-outlet>
