.nav-bar {
    border: solid 2px #201f17;
    padding: 3px 0 3px 0;
<<<<<<< HEAD
    width: 100%;
=======
>>>>>>> f200c31 (ajout fix page des clips)
}

.nav-bar-item{
    background-color: #201f17;
    color: #F5F5F5;
    font-size: 20px;
}