<div class="nav-bar flex justify-content-center my-3">
    <div class="nav-bar-items flex justify-content-between gap-4">
        <a routerLink="/" class="nav-bar-item no-underline px-8 py-2 font-manga"> ACCUEIL</a>
        <a routerLink="/lore" class="nav-bar-item no-underline px-8 pt-2 pb-3 font-manga"> LORE</a>
        <a routerLink="/profils-rp" class="nav-bar-item no-underline px-8 pt-2 pb-3 font-manga"> PERSONNAGES</a>
        <a routerLink="/clips" class="nav-bar-item no-underline px-8 pt-2 pb-3 font-manga"> CLIPS</a>
        <a routerLink="/galerie" class="nav-bar-item no-underline px-8 pt-2 pb-3 font-manga"> GALERIE</a>
        <a routerLink="/about" class="nav-bar-item no-underline px-8 pt-2 pb-3 font-manga"> A PROPOS</a>
        <a routerLink="/contact" class="nav-bar-item no-underline px-8 pt-2 pb-3 font-manga"> CONTACT</a>
    </div>
</div>
<div class="content-clips-page">
    <router-outlet></router-outlet>
</div>
