<div class="main-layout-content">
    <div class="header">
        <div class="header-title">トーキヨーグール</div>
        <div class="header-sub-title"> ABYSSAL - Tokyo Ghoul </div>
    </div>
    <app-nav-bar class="flex justify-content-center pb-3"></app-nav-bar>
    <div class="background-image w-full"></div>
    <div class="content-img-and-presentation flex flex-row mt-5">
        <img src="../../medias/image 5.png" alt="">
        <div class="presentation ml-8">
            <h2 class="presentation-title font-manga text-3xl">Présentation du site Abyssal RP</h2>
            <div class="presentation-texte font-manga text-3xl pb-4">Bienvenue sur le site non-officiel du serveur roleplay Abyssal sur Garry's Mod basé sur le manga tokyo ghoule ! </div>
            <div class="presentation-texte-2 font-manga text-3xl pb-4">Ce site est dédié à tous les passionnés de roleplay et à notre incroyable communauté.</div>
            <div class="presentation-texte-3 font-manga text-3xl">Voici ce que vous trouverez sur notre site :</div>
            <ul>    
                <li class="font-manga text-3xl pb-4"><strong>Le Lore </strong>: Plongez dans l’histoire roleplay du serveur</li>
                <li class="font-manga text-3xl pb-4"><strong>Profils des Personnages et Entreprises </strong>: Découvrez les détails des personnages inRP et des entreprises de la communauté</li>
                <li class="font-manga text-3xl pb-4"><strong>Recrutements InRP </strong>: Consultez et postulez aux offres de recrutement des entreprises inRP</li>
                <li class="font-manga text-3xl pb-4"><strong>Section Clips </strong>: Faites défiler des vidéos courtes à la manière de TikTok, avec des options de like et de commentaire</li>
                <li class="font-manga text-3xl"><strong>Galerie</strong> : Parcourez les images et les vidéos de la communauté</li>
            </ul>

        </div>
    </div>
    <app-nav-bar class="flex justify-content-center"></app-nav-bar>
    <app-clips-page></app-clips-page>
</div>
