<div class="main-layout-content">
    <div class="header">
        
            <div class="header-title">トーキヨーグール</div>
            <div class="header-sub-title font-manga"> ABYSSAL - Tokyo Ghoul </div>
        
        <div class="joins-us">
            <app-login></app-login> <!-- Bouton de connexion ajouté ici -->
        </div>
    </div>
    <app-nav-bar class="pb-3"></app-nav-bar>

    <div *ngIf="router.url === '/'">
        <div class="background-image w-full"></div>
        <div class="content-img-and-presentation flex flex-row mt-5">
            <img src="../../medias/image 5.png" alt="" class="img-homepage-presentation">
            <div class="presentation ml-8">
                <h2 class="font-red-bold font-manga text-2xl"><strong class="font-red-bold">Présentation du site Abyssal RP</strong></h2>
                <div class="presentation-texte font-manga text-2xl pb-4">Bienvenue sur le site non-officiel du serveur roleplay Abyssal sur Garry's Mod basé sur le manga tokyo ghoule ! </div>
                <div class="presentation-texte-2 font-manga text-2xl pb-4">Ce site est dédié à tous les passionnés de roleplay et à notre incroyable communauté.</div>
                <div class="presentation-texte-3 font-manga text-2xl">Voici ce que vous trouverez sur notre site :</div>
                <ul>    
                    <li class="font-manga text-2xl pb-4"><strong class="font-red-bold">Le Lore </strong>: Plongez dans l’histoire roleplay du serveur</li>
                    <li class="font-manga text-2xl pb-4"><strong class="font-red-bold">Profils des Personnages et Entreprises </strong>: Découvrez les détails des personnages inRP et des entreprises de la communauté</li>
                    <li class="font-manga text-2xl pb-4"><strong class="font-red-bold">Recrutements InRP </strong>: Consultez et postulez aux offres de recrutement des entreprises inRP</li>
                    <li class="font-manga text-2xl pb-4"><strong class="font-red-bold">Section Clips </strong>: Faites défiler des vidéos courtes à la manière de TikTok, avec des options de like et de commentaire</li>
                    <li class="font-manga text-2xl"><strong class="font-red-bold">Galerie</strong> : Parcourez les images et les vidéos de la communauté</li>
                </ul>
            </div>
        </div>
        <div class="separator my-5"></div>
        <div class="content-join-community">
            <h2 class="font-red-bold font-manga text-2xl"><strong class="font-red-bold">Rejoignez la communauté Tokyo Ghoul Abyssal RP :</strong></h2>
            <div class="presentation-texte font-manga text-2xl pb-4"> Venez sur notre serveur Discord pour rester connecté avec le reste de la communauté et être notifiés des dernières nouveautés </div>
            <div class="presentation-texte font-manga text-2xl pb-4"> Tentez votre chance pour etre WhiteList et rejoindre l'aventure en : </div>
            <ul>
                <li class="font-manga text-2xl pb-4"><strong class="font-red-bold">Candidatant :</strong> Remplisez le formulaire de demande de WhiteList en fournissant votre expérience en RolePlay, le choix de votre faction( CCG, Ghoul, Humain), votre Projet RP sur le serveur, votre Histoire RP et le Caractere de votre personnage RP</li>
                <li class="font-manga text-2xl pb-4"><strong class="font-red-bold">Passant l'entretien vocal Douane :</strong> Si votre candidature est acceptée, un entretien avec un ou plusieurs Douanier(s) sera effectué. il aura pour but de tester vos connaissances des règles RP et celles du serveur.</li>
            </ul>
            <div class="presentation-texte font-manga text-2xl pb-4">Une fois ces étapes réalisées avec succés, vous serez donc WhiteList et prêt a rejoindre l'aventure Tokyo Ghoul d'Abyssal RP !</div>
            <div class="presentation-texte font-manga text-2xl pb-4">On vous attend avec impatience</div>
        </div>
        <div class="banner-join-us mt-8 flex justify-content-between">
            <img src="../../medias/kaneki-chains.png" class="img-kaneki-joins-us-left" alt="">
           <div class="div-invite-discord flex justify-content-center align-items-center flex-column">
                <img src="../../medias/logo_abyssal2.png" class="logo-discord-abyssal mt-4" alt="Abyssal Logo">
                <p class="font-manga text-2xl">Abyssal</p>
                <div class="container-btn-invite-discord mx-5">
                    <a href="https://discord.gg/abyssaltkg" class="btn-invite-discord text-white font-manga" target="_blank">Accepter l'invitation</a>
                </div>
            </div>
            <img src="../../medias/kaneki-chains.png" class="img-kaneki-joins-us-right" alt="">
        </div>
    </div>
<app-footer></app-footer>
<router-outlet></router-outlet>
</div>
