<div class="lore-and-guide-page flex flex-column justify-content-center align-items-center gap-5">
    <div class="main-title font-manga font-red-bold mt-4 text-3xl"> Clans Fondateurs / 創設氏族 </div>
    <div class="main-title font-manga font-red-bold mt-4 text-2xl"> Clan [HOJO] </div>
    <div class="content font-manga line-height-4 text-xl">
        Originaire d'Asie de l'Est, le Clan Hojo est une des familles centrales du CCG. Ce clan chasse les goules depuis plus d'un siècle, 
        initialement via une organisation anti-goule non-gouvernementale fondée en 1899. Utilisant des méthodes traditionnelles, ils ont accumulé une grande expertise 
        dans l'extermination des goules. Leurs désaccords territoriaux et culturels avec le Clan Shimazu ont mené à des conflits prolongés, souvent se transformant en guerres pendant 
        plus d’un siècle.
    </div>
    <div class="main-title font-manga font-red-bold mt-4 text-2xl">  Clan [SHIMAZU] </div>
    <div class="content font-manga line-height-4 text-xl">
        Fondé en 1920 par Satsuba Shimazu, le Bureau de Lutte contre les Goules (BLG) est l'un des précurseurs du CCG. Ce bureau public a été transformé en organisme gouvernemental en 1946, lorsque le gouvernement 
        japonais a décidé de fusionner les efforts des Clans Shimazu et Hojo pour créer le Centre de Contrôle des Goules. Cet accord a mis fin aux conflits entre les deux clans. Sous la direction de Hachimitsu Shimazu et Asazeh Hojo, 
        le CCG a développé les Quinques en 1991, des armes créées à partir des cellules RC des goules, augmentant significativement le taux d'extermination des goules.
    </div>
    <div class="content main-title font-manga mt-4 font-red-bold flex justify-content-center align-items-center text-xl">  D’autres Clans font partie de l’histoire du C.C.G bien qu’ils n’en soient pas fondateurs, ils sont nommés les Clans Piliers 
        et ont participé de par leurs compétences et leur adhérence au C.C.G à son établissement sur le long terme:
    </div>
    <div class="main-title font-manga font-red-bold mt-4 text-2xl">  Clan [Mikami] </div>
    <div class="content font-manga line-height-4 text-xl">
        Originaire de l’Est de l’Asie comme le Clan Hojo, est un clan qui base des valeurs sur l’honneur, la discipline dans le combat. En 1910, ils ont fondé une société secrète de protection pour les humains face aux goules, et en 1950 
        il rejoint le C.C.G en tant que conseiller stratégique, mettant à profit leur savoir militaire.
    </div>
    <div class="main-title font-manga font-red-bold mt-4 text-2xl">  Clan [Shirasagi] </div>
    <div class="content font-manga line-height-4 text-xl">
        Originaire de l’Est de l’Asie comme le Clan Hojo, est un clan qui base des valeurs sur l’honneur, la discipline dans le combat. En 1910, ils ont fondé une société secrète de protection pour les humains face aux goules, et en 1950 
        il rejoint le C.C.G en tant que conseiller stratégique, mettant à profit leur savoir militaire.
    </div>
    <div class="main-title font-manga font-red-bold mt-4 text-2xl">  Clan [Silberstein] </div>
    <div class="content font-manga line-height-4 text-xl">
       Originaire de l’Europe de l’Ouest, c’est de par leurs techniques et leur savoir scientifique qu’ils sont reconnus. 
       En 1875, une école de recherche spécialisée dans l’étude des goules fût fondée témoignant dès cette époque leur avance en matière de connaissances. 
       En 1940 ils développeront de nouvelles méthodes de capture des goules ainsi que de moyens pour les étudier vivantes. C’est en 1955 que leur expertise sera ralliée au C.C.G 
       afin de développer la stratégie scientifique et de recherche de ce dernier.
    </div>
    <div class="main-title font-manga font-red-bold mt-4 text-2xl">L'organisation du C.C.G</div>
    <div class="content-container flex justify-content-between flex-row gap-6">
        <div class="content-column font-manga line-height-4 flex flex-column">
            <div class="content-title font-manga text-xl">Hiérarchie décroissante :</div>
            <ul class="text-xl">
                <li>Président (Komaru Shimazu)</li>
                <li>Directeur (Takumi Hojo)</li>
                <li>Responsable</li>
                <li>Inspecteur Spécial</li>
                <li>Inspecteur Spécial-Adjoint</li>
                <li>Inspecteur en Chef</li>
                <li>Inspecteur de Première Classe</li>
                <li>Inspecteur de Deuxième Classe</li>
                <li>Inspecteur de Troisième Classe</li>
                <li>Inspecteur de Quatrième Classe</li>
                <li>Inspecteur Cadet</li>
                <li>Agent du C.C.G</li>
            </ul>
        </div>
        <div class="content-column font-manga flex flex-column line-height-4">
            <div class="content-title font-manga text-xl">Les différents cursus :</div>
            <ul class="text-xl">
                <li>Scientifique</li>
                <li>Carcéral</li>
                <li>Académique</li>
                <li>Comité de Gestion Interne (C.G.I)</li>
                <li>Gouvernemental</li>
            </ul>
        </div>
    </div>
</div>