<div class="justify-content-center">
    <h1 class="text-center">CLIPS</h1>
    <div *ngIf="clips$ | async as clips; else loading">
        <ul class="text-center">
            <li *ngFor="let clip of clips">
                <h3>{{ clip.title }}</h3>
                <video width="640" height="360" controls autoplay>
                    <source src="{{ clip.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <p>Likes: {{ clip.likes }}</p>
                <p>Reports: {{ clip.report }}</p>
            </li>
        </ul>
    </div>
    <ng-template #loading>
        <p>Loading...</p>
    </ng-template>
</div>
