<div class="profils-rp-component">
    <div class="background-image w-full"></div>
    <div class="profils-rp-nav flex flex-row justify-content-center gap-6 mt-6">
        <p-checkbox label="ghouls" [(ngModel)]="showGhoul" [binary]="true" inputId="ghoulsCheckbox" />
        <p-checkbox label="CCG" [(ngModel)]="showCCG" [binary]="true" inputId="ccgCheckbox" />
        <p-checkbox label="humans" [(ngModel)]="showHuman" [binary]="true" inputId="humansCheckbox" />
    </div>
    <div class="separator my-8"></div>
    <div  class="profils-rp-container-ccg flex justify-content-center flex-column align-items-center">
        <h2 class="font-manga text-3xl font-red-bold"> C.C.G </h2>
        <div class="card-ccg flex flex-row align-items-center justify-content-left mt-2">
            <div class="card-ccg-image mx-3"></div>
            <div class="card-ccg-content flex flex-column align-items-left">
                <p class="font-manga font-red-bold">Nom Prénom :</p> 
                <p class="font-manga font-red-bold">Rang :</p>
                <p class="font-manga font-red-bold">Date de naissance :</p>
            </div>
        </div>
    </div>
    <div  class="profils-rp-container-ghouls flex justify-content-center flex-column align-items-center">
        <h2 class="font-manga text-3xl font-red-bold"> Ghouls </h2>
        <div class="card-ghouls flex flex-row align-items-center justify-content-left mt-2">
            <div class="card-ghouls-image mx-3"></div>
            <div class="card-ghouls-content flex flex-column align-items-left">
                <p class="font-manga font-red-bold">Nom Prénom :</p> 
                <p class="font-manga font-red-bold">Rang :</p>
                <p class="font-manga font-red-bold">Date de naissance :</p>
            </div>
        </div>
    </div>
    <div class="profils-rp-container-humans flex justify-content-center flex-column align-items-center">
        <h2 class="font-manga text-3xl font-red-bold"> Humains </h2>
        <div class="card-humans flex flex-row align-items-center justify-content-left mt-2">
            <div class="card-humans-image mx-3"></div>
            <div class="card-humans-content flex flex-column align-items-left">
                <p class="font-manga font-red-bold">Nom Prénom :</p> 
                <p class="font-manga font-red-bold">Rang :</p>
                <p class="font-manga font-red-bold">Date de naissance :</p>
            </div>
        </div>
    </div>
</div>