::ng-deep .p-checkbox{
    width: 30px !important;
    height: 30px !important;
    & .p-checkbox-box{
        width: 30px !important;
        height: 30px !important;
    }
}

::ng-deep .p-checkbox-label {
    font-size: 28px !important;
    font-family: "Yuji Syuku", serif;
    font-weight: 400;
    font-style: normal;
}

