<div class="lore-and-guide-page flex flex-column justify-content-center align-items-center gap-5">
    <div class="main-title font-manga font-red-bold mt-4 text-3xl">Règlement RP</div>
     <div class="content-column font-manga line-height-4">
        <div class="content font-manga text-xl font-bold">Les Familles :</div>
        <ul class="font-manga">
            <li>Les familles/Clan de plus de 3 personnes sont interdites pour les ghouls/CCG, pour dépasser cette limite, il faut ouvrir un ticket et déposer un dossier rp qui sera traité.</li>
        </ul>
        <div class="content font-manga text-xl font-bold">Q.G des bases / organisations :</div>
        <ul class="font-manga">
            <li>Les bases factions lore sont secrètes. Si jamais vous attaquez/menacez directement les membres de cette organisation dans leur base vous vous soumettez à un risque RPK dans leur base faction.</li>
        </ul>
        <div class="content font-manga text-xl font-bold">Règles de combat :</div>
        <ul class="font-manga">
            <li>Il est interdit de manger/mettre en sac pendant un combat même si vous n'êtes pas concerné par le fight.</li>
            <li>Il est interdit de voler des corps en pleine ville devant tout le monde, soyez malin et cachez-vous !</li>
            <li>Il est interdit d'appeler des renforts en radio ET discord ÉCRIT OU VOCAL lorsqu’on est menotté.</li>
            <li>Il est interdit de changer plusieurs fois d’arme en combat, Kagune / Quinque et arme à feu, afin de changer de mode de combat, pour empêcher une ghoul de parcours mod.</li>
            <li>Pour menotter une personne vous devez soit avoir son accord soit qu'il soit en pain (10% de ses hp).</li>
            <li>Dans le cadre d'une capture de "X" ou d'une mise en pain de "X", si un allié "Z" achève "X" afin que celui-ci ne se fasse pas capturé, "X" sera quoi qu'il arrive re TP sur zone et si l'action est jugée volontaire par le staff "Z" sera sanctionné.</li>
            <li>La somme maximale pouvant être prise d'un citoyen durant un braquage est de 200¥. Il est interdit d'abattre la personne que vous avez braquée si elle vous a remis au moins 50% de la somme demandée.</li>
            <li>Il est interdit de courir avec une ghoul menottée, il est aussi interdit d'avoir une arme lorsque vous prenez une ghoul.</li>
        </ul>
        <div class="content font-manga text-xl font-bold">Autres Règles :</div>
        <ul class="font-manga">
            <li>Les ghouls à partir de Dangereux ne peuvent plus prendre l'initiative d'attaquer des ghouls en dessous de Peu Dangereux avec leur kagune (Fair play).</li>
            <li>Dans le cadre où une GOULE ou un CCG rentre pendant un combat dans son QG, si ce dernier vient à ressortir avant un délai de 20 minutes, il s'exposera à un RPK une fois tombé, que ce soit d'un allié ou d'un ennemi ou bien même de l'environnement (dégât de chute).</li>
            <li>Il est interdit de menotter/démenotter quelqu’un en combat.</li>
            <li>Les ghoul seront classés par le CCG quand elles dépasseront la catégorie de rang S; si elles se font capturer, elles pourront être envoyées à la cochlée en cas de capture ou RPK avec une porte de sortie. (Attention si elles se font quinque, elles devront être libérées)</li>
        </ul>
    </div>
    <div class="content-column font-manga line-height-4">
        <div class="content font-manga text-xl font-bold">Sanctions :</div>
        <ul class="text-manga">
            <li>Pour les ghouls: perte de 75 % des RC (perte du personnage et son histoire).</li>
            <li>Pour le CCG: Perte de trois grades et set de RC au grade attribué (perte du personnage et son histoire).</li>
        </ul>
        <div class="content font-manga text-xl font-bold">Cochlé :</div>
        <ul class="font-manga">
            <li>Quand un joueur est envoyé à la cochlée, il a deux semaines pour être libéré. En attendant, il peut commencer un personnage temporaire ou non avec -50 % de ses RC.</li>
        </ul>
        <div class="content font-manga text-xl font-bold">Capture :</div>
        <ul class="font-manga">
            <li>Il est possible pour une ghoul de se taire lors de son interrogatoire. Si elle ne collabore pas, sa poche RC sera écrasée et elle perdra des RC (équivalent à se faire manger). Si elle collabore, interdiction d’écraser sa poche RC; néanmoins, si il s’avère qu’elle a menti au CCG, celui-ci est autorisé à ne plus l’interroger pour ses futures captures et établir une demande de RPK en ajoutant cette raison.</li>
        </ul>
        <div class="content font-manga text-xl font-bold">Immunité :</div>
        <ul class="font-manga">
            <li>Une fois inspecteur en chef & ghoul de rang S, il y a une semaine d’immunité. Néanmoins, la participation à une scène RPK ou à grosse conséquence mènera à la perte de cette immunité. (Se diriger vers admin si vous n'êtes pas certain)</li>
        </ul>
        <div class="content font-manga text-xl font-bold">Règles de base :</div>
        <ul class="font-manga">
            <li><strong>Vocal:</strong>Toutes discussions sortant du contexte RP tel que "je vais manger, viens sur discord" sont considérées comme du HRP vocal et passibles de sanction. Le spam vocal est interdit, ainsi que l'utilisation de multiples systèmes de saturation. Les VoiceMods sont autorisés dans le cadre où ils améliorent votre RP positivement. Toutes langues autres que le français sont interdites. Le langage banlieusard est aussi interdit.</li>
            <li><strong>PainRP:</strong>Le PainRP revient à faire ressentir la douleur par son personnage. Si la personne que vous êtes en train d’affronter peut vous achever en un coup, il vous est impossible de courir. Les "ouais mais j'ai entraîné mon personnage à la torture" ne marchent pas ! À part en cas de validation d'un staff par le biais d'une candidature RP.</li>
            <li><strong>CarKills:</strong> Ils sont interdits ! C'est-à-dire que vous n'avez pas le droit d'écraser une tierce personne. Le PropsKill est aussi interdit, c'est-à-dire de tuer quelqu'un avec un props en utilisant les collisions.</li>
            <li><strong>RPQ:</strong>Le RPQ est strictement interdit sous tous ses angles !</li>
            <li><strong>Déconnexion en scène:</strong> Il est interdit de déconnecter en pleine scène. Si vous y êtes vraiment contraint, il est obligatoire de prévenir les autres joueurs de la scène. Tout abus de déconnexion sera sanctionné: n’entrez pas dans des scènes que vous ne pourrez pas terminer.</li>
            <li><strong>Block RP:</strong>Il est interdit de bloquer le RP d’un autre joueur sans raison roleplay valable. Cette règle est intrinsèquement liée à la règle de fairplay.</li>
            <li><strong>Force RP:</strong>Il est interdit de forcer un joueur à jouer une scène: Si celle-ci le rend mal à l’aise ou le gêne pour des raisons HRP; Si il est forcé de la jouer pour des raisons HRP; Si celle-ci n’est pas du tout fairplay et bénéficie très largement au joueur à l’initiative de la scène.</li>
            <li><strong>Freekill:</strong> Il est interdit de tuer un joueur sans raison roleplay valable.</li>
            <li><strong>Freeshot:</strong> Il est interdit de tirer sur un autre joueur avec une arme sans raison roleplay valable.</li>
            <li><strong>NLR:</strong>Il est interdit de retourner sur le lieu ou la scène de votre mort. Vous devez attendre 30 min avant de pouvoir retourner sur le lieu de la scène. Vous devez attendre la fin d’une scène pour pouvoir y retourner. La mort en scène ou en combat est l'équivalent d’un blackout, d’un trou de mémoire. Vous devez obligatoirement oublier la scène ou le combat dans laquelle vous étiez.</li>
            <li><strong>Usebug:</strong> Il est interdit d’utiliser un bug à son avantage (sont considérés comme bug toutes les mécaniques de jeu qui utilisent un moyen technique non reconnu par le serveur).</li>
            <li><strong>Cheat:</strong> Il est interdit d’utiliser un mod-menu, un aimbot, un xray ou n’importe quelle autre forme de logiciel tiers qui permettrait un avantage en jeu. L’ajout d’un crosshair grâce à un addon est autorisé.</li>
            <li><strong>AFK Farm:</strong> Il est interdit de contourner le logiciel d’anti-afk (expulsion automatique en 15 min si inactivité) en bougeant ou en utilisant un logiciel pour bouger le personnage.</li>
            <li><strong>Void:</strong> Il est interdit de void une scène à l’amiable sans que le staff le valide. Il en va de la responsabilité du staff et des joueurs impliqués de prévenir du void.</li>
            <li><strong>Insultes:</strong> Les insultes sont tolérées dans le cadre d’un roleplay cohérent. Il est interdit d’abuser des insultes, de harceler, ou d’insulter le joueur à la place de son personnage. Toute forme de discrimination hors cohérence roleplay autour de l’univers de Tokyo Ghoul est prohibée.</li>
            <li><strong>Fear:RP:</strong> Explication: 1 Passif peut attaquer 3 Passifs ou 2 Peu Dangereux mais ne peut pas attaquer 1 Dangereux. Vous pouvez donc attaquer 3 personnes de votre dangerosité ou 2 personnes d'une dangerosité de plus que vous. Vous devez avoir peur des gens de 2 rangs de plus que vous et fuir/se rendre. (Une indulgence est demandée dans le cas d'une réédition de votre adversaire)</li>
        </ul>
    </div>
    <div class="content-container">
        <div class="content-column font-manga line-height-4">
        <div class="flex justify-content-center font-manga font-red-bold text-3xl mb-5"> Règlement Intérieur et Lois A.G ( Anti-Goules ) pour le CCG :</div>
            <div class="content font-manga text-xl font-bold">Devoir :</div>
            <ul class="font-manga">
                <li>Protéger la population, exterminer les goules.</li>
            </ul>
            <div class="content font-manga text-xl font-bold">Engagement :</div>
            <ul class="font-manga">
                <li>Tout membre du C.C.G est sous l’égide des lois japonaises.</li>
                <li>Un manque de respect envers un supérieur vaudra une sanction.</li>
                <li>La protection d’un civil passe avant l’extermination d’une goule, peu importe les circonstances.</li>
                <li>L’insubordination est sanctionnable, hormis si l’ordre donné va à l’encontre de l’Article 1 ou de toute clause du règlement du C.C.G</li>
            </ul>
            <div class="content font-manga text-xl font-bold">Règles de respect et de discipline :</div>
            <ul class="font-manga ">
                <li>Se mettre au garde-à-vous ou prononcer "Mes respects" devant un plus haut gradé et se mettre en position repos après que l'ordre est donné.</li>
                <li>Interdiction de parler de sa vie privée en service. Votre vie professionnelle est différente de votre vie privée.</li>
                <li>Interdiction d’utiliser un langage de rue, vous êtes des hommes et des femmes qui ont reçu une formation des plus qualitative.</li>
            </ul>
            <ul class="font-manga">
                <li>Tout appel doit être respecté, sinon vous êtes soumissible à des sanctions par le C.G.I.</li>
                <li>Adoptez un comportement exemplaire partout où vous êtes.</li>
                <li>Le respect des consignes en rapport avec le recrutement, l'arrestation des ghouls et leur mise en détention est obligatoire. Le non-respect des consignes sera suivi de sanctions de la part du CCG et du gouvernement Japonais.</li>
                <li>Le CCG est une institution qui se base sur le travail d'équipe. Les opérations solitaires ne sont autorisées qu'après accord des Responsables.</li>
                <li>La préservation de l'humanité et la protection de la population restent nos seuls objectifs principaux.</li>
            </ul>
        </div>
        <div class="content-column font-manga line-height-4">
            <div class="content font-manga text-xl font-bold">Lois Anti-Goules :</div>
            <ul class="font-manga">
                <li>Toute action, qu’elle soit de patrouille, d’interrogatoire, d’opération ou de recrutement, doit être indiquée dans un rapport. Ceci indique votre présence et votre sérieux.</li>
                <li>En vertu des accords quant au CCG, il vous est autorisé de procéder à des tests sur une personne qui vous semble suspecte ou pour laquelle vous possédez des preuves tangibles.</li>
                <li>Vos patrouilles devront correspondre à un nombre d’agents et d’inspecteurs supérieur à 2.</li>
                <li>Une personne tentant de fuir, d’éviter ou de s’échapper d’un contrôle peut être considérée comme ghoul potentielle et arrêtée par la force avec l’usage de vos armes à feu après 3 avertissements.</li>
                <li>Lors d’un affrontement, l’évacuation et la protection des civils doivent être une priorité fondamentale.</li>
                <li>Lorsque vous observez qu’un adversaire vous semble trop puissant, prenez le temps d’appeler des renforts pour en venir à bout sans perte.</li>
                <li>Toute personne ayant porté assistance ou cachée une goule sera considéré comme exécuteur d’un crime contre la nation et devra être arrêté et interrogé.</li>
                <li>Pour toute personne suspectée d’être une goule et dont l’enquête a prouvé cette supposition, le CCG a l’autorité d’interpeller de la manière qu’il le souhaite, la dite personne. Si la supposition reste à prouver, les tests doivent être appliqués.</li>
                <li>Toute personne en lien avec une goule de près ou de loin doit être entendue dans le cadre d’une enquête auxiliaire.</li>
            </ul>
        </div>
    </div>
</div>