<div class="page-lore-guide">
    <div class="component-lore-and-guide flex flex-column gap-4">
        <div class="lore-cat background-banner cursor-pointer flex flex-column" (click)="navigateTo('lore')">
            <div class="lore-cat-content title-banner font-manga font-red-bold">LORE / HISTOIRE</div>
            <div class="japan-trad-title text-3xl font-manga">伝承 / 歴史</div>
        </div>
        <div class="faction-cat background-banner flex flex-column cursor-pointer" (click)="navigateTo('faction')">
            <div class="faction-cat-content title-banner font-manga font-red-bold">FACTION</div>
            <div class="japan-trad-title text-3xl font-manga">派</div>
        </div>
        <div class="family-clan-cat background-banner flex flex-column cursor-pointer" (click)="navigateTo('family-clan')">
            <div class="family-clan-cat-content title-banner font-manga font-red-bold"> FAMILLE / CLAN / ORGANISATION</div>
            <div class="japan-trad-title text-3xl font-manga">家族 /一族 / 組織</div>
        </div>
        <div class="reglement-cat background-banner flex flex-column cursor-pointer" (click)="navigateTo('reglement')">
            <div class="reglement-cat-content title-banner font-manga font-red-bold"> REGLEMENT</div>
            <div class="japan-trad-title text-3xl font-manga">規則</div>
        </div>
        <div class="guide-cat background-banner flex flex-column cursor-pointer" (click)="navigateTo('guide')">
            <div class="guide-cat-content title-banner font-manga font-red-bold"> GUIDE</div>
            <div class="japan-trad-title text-3xl font-manga">ガイド</div>
        </div>
    </div>
</div>
