<h1 class="text-center">AJOUTER UN CLIP</h1>

<div class="flex-column justify-content-center">
    <div class="flex flex-column gap-2 pb-3">
        <label for="clip-url">URL du clip Twitch</label>
        <input 
            pInputText
            id="clip-url" 
            aria-describedby="clip-url-help" 
            [(ngModel)]="clipUrl" />
    </div>
    <div class="flex justify-content-center">
        <button (click)="goBack()" class="action-btn no-underline px-2 pt-2 pb-2 mt-2 mb-4 font-manga">ANNULER</button>
        <button (click)="addClip()" class="action-btn no-underline px-2 pt-2 pb-2 mt-2 mb-4 font-manga">AJOUTER</button>
    </div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
</div>